@use "bootstrap/scss/bootstrap" as * with ($info: #5c728f);

$metric-menu-height-desktop: auto;
$max-component-width: 1280px;
$theme-static-root: "/themes/bsidesct2024/static";

@import "includes/breakpoints";
@import "includes/colors";
@import "includes/theme-fonts";
@import "./sections.scss";

@import "includes/components/table";
@import "includes/components/jumbotron";
@import "includes/components/challenge";
@import "includes/components/sticky-footer";
@import "includes/components/graphs";

@import "includes/utils/fonts";
@import "includes/utils/opacity";
@import "includes/utils/min-height";
@import "includes/utils/cursors";
@import "includes/utils/lolight";

@import "includes/icons/award-icons";
@import "includes/icons/flag-icons";


body {
    font-family: $font-primary;
    color: $color-fg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url($theme-static-root+"/img/paper-compressed.jpg");
    background-color: $color-primary;
    background-size: 100%;
    font-size: 1.2em;
}

h1,
h2 {
    font-weight: 500;
    letter-spacing: 2px;
}

a {
    color: #337ab7;
    text-decoration: none !important;
}

blockquote {
    border-left: 4px solid $secondary;
    padding-left: 15px;
}

.fa-spin.spinner {
    text-align: center;
    opacity: 0.5;
}

.badge-notification {
    vertical-align: top;
    margin-left: -1.5em;
    font-size: 50%;
}

select.form-control {
    height: auto !important;
}

.form-select {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important;
}

// HMM

.input-filled-valid {
    background-color: transparent !important;
    border-color: #a3d39c;
    box-shadow: 0 0 0 0.1rem #a3d39c;
    transition: background-color 0.3s, border-color 0.3s;
}

.input-filled-invalid {
    background-color: transparent !important;
    border-color: #d46767;
    box-shadow: 0 0 0 0.1rem #d46767;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-control {
    padding: 0.8em !important;
    background: #f0f0f0;
    color: #aaa;
    /* Behavior changed in Bootstrap v4.1.3. See https://github.com/twbs/bootstrap/issues/27629 */
    height: auto !important;
}

.form-control:focus {
    background-color: transparent;
    border-color: #a3d39c;
    box-shadow: 0 0 0 0.1rem #a3d39c;
    transition: background-color 0.3s, border-color 0.3s;
}

.modal-content {
    box-shadow: 0 0 15px black;
}

@media (min-width: 768px) {
    .navbar.fixed-top {
        position: static;
    }

    main {
        padding-top: unset;
    }
}


#score-graph {
    background-color: white;
    box-shadow: 0 1em 15px #0005;
}

h1 {
    padding-top: 1em;
}


.container.page {
    h1 {
        padding-top: 1rem;
        color: $theme-color-6;
        text-shadow: 2px 2px 2px $theme-color-5;
        font-size: 3em;
        text-align: center;
    }

    ul {
        list-style: none;
        font-size: 1.25em;

        li {
            padding-bottom: 1em;

            &::before {
                background-image: url($theme-static-root + "/img/skelptr.png");
                background-size: contain;
                width: 64px;
                margin-right: .5em;
                display: inline-block;
                height: 27px;
                content: '';
                position: relative;
                top: 9px;
                filter: drop-shadow(3px 3px 1px $theme-color-5) drop-shadow(-2px -2px 1px $theme-color-2);
            }
        }
    }

}